<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Профиль</title>
  <style>
    .add-product-button {
      display: inline-block;
      padding: 10px 20px;
      background-color: #4CAF50;
      color: white;
      text-align: center;
      text-decoration: none;
      font-size: 16px;
      margin: 10px 0;
      cursor: pointer;
      border-radius: 5px;
    }
  </style>
</head>
<body>
<h1>Профиль пользователя</h1>
<p>Добро пожаловать, <span th:text="${username}"></span>!</p>
<a th:href="@{/products}" class="add-product-button">Список продуктов</a>
<p><a href="/login">Выйти</a> </p>
</body>
</html>